# Archivos de Python
*.pyc __pycache__/
# Base de datos local
db.sqlite3
# Entorno virtual
env/
# Variables de entorno
.env
# Archivos estáticos y medios generados /staticfiles/ /media/
#Configuraciones de IDE .vscode/ .idea/